*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   background: rgb(129, 108, 148); 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.accordion{
    margin: 10px auto;
    width: 600px;
}

.accordion li{
    list-style: none;
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
}

.accordion li label{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    color: darkgrey;
    cursor: pointer;
}

.accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: darkgray;
}

.accordion label + input[type='radio']{
   display: none; 
}

.accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.accordion label + input[type = 'radio']:checked + .content{
    max-height: 400px;
}




/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
/* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */